.jumbotron{
  background-color: #22baee;
  color: black;
  margin-top: 40px;
}
footer{
  padding: 10px 10px 0 10px;
  background-color: #22baee;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-propio{
  flex: 1 150px;
  padding: 2px 2px 2px 2px;
}

.btn-card{
  width: 100%;
}

.footer-icon{
  padding-right: 10px;
}
