$yellow: #f0f514;
$cyan: #22baee;
$red:#ee1919;

@mixin margenes($top, $botton){
  margin-top: $top;
  margin-bottom: $botton;
}

.jumbotron{
  background-color: $cyan;
  color: black;
  @include margenes(10px, 0px);
}
footer{
  padding: 10px 10px 0 10px;
  background-color: $cyan;
  @include margenes(10px, 0px);
}

.card-propio{
  flex: 1 150px;
  padding: 2px 2px 2px 2px;
}

.btn-card{
  width: 100%;
}

.footer-icon{
  padding-right: 10px;
}
